.feynman{
    position: relative;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 890px;
    background-color: #f2f2f2;
}